#globalbody {
  padding-top: 120px;
  background-color: #ffffff;
  margin-bottom: 800px;
}

/*	HEADER	*/
#header {
  background-color: #ffffff;
  position: fixed;
  overflow: visible;
  width: 1536px;
  height: 118px;
  left: 0px;
  top: 0px;
  z-index: 1000;
}

.menu {
  position: fixed;
  overflow: visible;
  width: 154px;
  height: 190px;
  left: 209.6px;
  top: 0px;
  background-color: #D14454;
}

.menu-icon {
  position: fixed;
  width: 84px;
  height: 36px;
  left: 230px;
  top: 50px;
  overflow: visible;
}

.menu-text {
  left: 238px;
  top: 118px;
  position: fixed;
  width: 70px;
  white-space: nowrap;
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  color: white;
}

.search {
  position: fixed;
  overflow: visible;
  width: 154px;
  height: 190px;
  left: 332.8px;
  top: 0px;
  background-color: #D14454;
  border-left: solid white;
}

.search-icon {
  overflow: visible;
  position: fixed;
  width: 69.551px;
  height: 69.551px;
  left: 365px;
  top: 69.225px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.logo {
  position: fixed;
  overflow: visible;
  width: 195px;
  height: 190px;
  left: 458.4px;
  top: 0px;
  background-color: #ffffff;
}

.logo-img {
  position: fixed;
  overflow: visible;
  top: 10px;
  left: 476px;
}

.logo-text {
  left: 492px;
  top: 18px;
  position: fixed;
  overflow: visible;
  width: 107px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial Rounded MT;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: #707070;
}

.location {
  overflow: visible;
  position: fixed;
  width: 35.357px;
  height: 49.5px;
  left: 1028px;
  top: 33.81px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.call {
  overflow: visible;
  position: fixed;
  width: 49.49px;
  height: 49.5px;
  left: 1092.8px;
  top: 33.655px;
}

.person {
  overflow: visible;
  position: fixed;
  width: 43.82px;
  height: 47.19px;
  left: 1168px;
  top: 34.81px;
}

.shopping {
  overflow: visible;
  position: fixed;
  width: 37.752px;
  height: 47.19px;
  left: 1283.2px;
  top: 35.966px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

/*	ACCUEIL	*/

.presentation {
  position: inherit;
  width: 1536px;
  height: 575px;
  left: 0px;
  top: 117px;
  overflow: visible;
  background-image: url('../img/eliquid-g735595a75_1920.png')
}

.presentation-text {
  overflow: visible;
  width: 405px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial Rounded MT;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  color: #ffffff;
  padding-top: 129px;
  padding-left: 949px;
}

.presentation-btn {
  position: absolute;
  overflow: visible;
  width: 370px;
  height: 90px;
  left: 960px;
  top: 500px;
  border-radius: 45px;
  border: #F2F2F2;
  background-color: #F2F2F2;
  cursor: pointer;
}

.btn-text {
  top: 10px;
  position: absolute;
  overflow: visible;
  width: 323px;
  white-space: nowrap;
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  color: #161414;
  left: 20px;
}

@-webkit-keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }

  15% {
    opacity: 1;
    top: 50%;
  }

  50% {
    opacity: 0;
    top: 50%;
  }

  100% {
    opacity: 0;
    top: 29%;
  }
}

@-moz-keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }

  15% {
    opacity: 1;
    top: 50%;
  }

  50% {
    opacity: 0;
    top: 50%;
  }

  100% {
    opacity: 0;
    top: 29%;
  }
}

@keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }

  15% {
    opacity: 1;
    top: 50%;
  }

  50% {
    opacity: 0;
    top: 50%;
  }

  100% {
    opacity: 0;
    top: 29%;
  }
}

.scroll-btn {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  top: 629px
}

.scroll-btn>* {
  display: inline-block;
  line-height: 18px;
  font-size: 13px;
  font-weight: normal;
  color: #7f8c8d;
  color: #ffffff;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 2px;
}

.scroll-btn>*:hover,
.scroll-btn>*:focus,
.scroll-btn>*.active {
  color: #ffffff;
}

.scroll-btn>*:hover,
.scroll-btn>*:focus,
.scroll-btn>*:active,
.scroll-btn>*.active {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.scroll-btn .mouse {
  position: relative;
  display: block;
  width: 35px;
  height: 55px;
  margin: 0 auto 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid white;
  border-radius: 23px;
}

.scroll-btn .mouse>* {
  position: absolute;
  display: block;
  top: 29%;
  left: 50%;
  width: 8px;
  height: 8px;
  margin: -4px 0 0 -4px;
  background: white;
  border-radius: 50%;
  -webkit-animation: ani-mouse 2.5s linear infinite;
  -moz-animation: ani-mouse 2.5s linear infinite;
  animation: ani-mouse 2.5s linear infinite;
}

.liquide-img {
  position: absolute;
  width: 387px;
  height: 625px;
  left: 222px;
  top: 980px;
  overflow: visible;
}

.personnaliser-title {
  left: 664px;
  top: 980px;
  position: absolute;
  overflow: visible;
  width: 625px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial Rounded MT;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  color: #000000;
}

.personnaliser-text {
  left: 664px;
  top: 1287px;
  position: absolute;
  overflow: visible;
  width: 833px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #484a47;
}

.personnaliser-btn {
  position: absolute;
  overflow: visible;
  width: 260px;
  height: 80px;
  left: 880px;
  top: 1520px;
  border-radius: 45px;
  border: #D14454;
  background-color: #D14454;
  cursor: pointer;
}

.btn-textperso {
  left: 55px;
  top: 17px;
  position: absolute;
  overflow: visible;
  width: 149px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  color: #ffffff;
}

.vente {
  left: 228px;
  top: 1690px;
  position: absolute;
  overflow: visible;
  width: 456px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial Rounded MT;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  color: #000000;
}

.pdt1-img {
  position: absolute;
  width: 398px;
  height: 555px;
  left: 135px;
  top: 1775px;
  overflow: visible;
}

.pdt1-titre {
  left: 228px;
  top: 2375px;
  position: absolute;
  overflow: visible;
  width: 188px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial Rounded MT;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  color: #000000;
}

.pdt1-prix {
  left: 228px;
  top: 2425px;
  position: absolute;
  overflow: visible;
  width: 107px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial Rounded MT;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  color: #000000;
}

/*.pdt1-style {
	transform: translate(-267px, -1836px) matrix(1,0,0,1,299,2370) rotate(90deg);
		transform-origin: center;
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 86px;
		white-space: nowrap;
		text-align: left;
		font-family: Poppins;
		font-style: normal;
		font-weight: bold;
		font-size: 107px;
		color: rgba(251,174,184,1);
}*/

.pdt2-img {
  position: absolute;
  width: 398px;
  height: 555px;
  left: 607px;
  top: 1775px;
  overflow: visible;
}

.pdt2-titre {
  left: 703px;
  top: 2375px;
  position: absolute;
  overflow: visible;
  width: 188px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial Rounded MT;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  color: #000000;
}

.pdt2-prix {
  left: 703px;
  top: 2425px;
  position: absolute;
  overflow: visible;
  width: 107px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial Rounded MT;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  color: #000000;
}

/*.pdt2-style {
	transform: translate(-267px, -1836px) matrix(1,0,0,1,299,2370) rotate(90deg);
		transform-origin: center;
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 86px;
		white-space: nowrap;
		text-align: left;
		font-family: Poppins;
		font-style: normal;
		font-weight: bold;
		font-size: 107px;
		color: rgba(251,174,184,1);
}*/

.pdt3-img {
  position: absolute;
  width: 398px;
  height: 555px;
  left: 1080px;
  top: 1775px;
  overflow: visible;
}

.pdt3-titre {
  left: 1178px;
  top: 2375px;
  position: absolute;
  overflow: visible;
  width: 188px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial Rounded MT;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  color: #000000;
}

.pdt3-prix {
  left: 1178px;
  top: 2425px;
  position: absolute;
  overflow: visible;
  width: 107px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial Rounded MT;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  color: #000000;
}

/*.pdt3-style {
	transform: translate(-267px, -1836px) matrix(1,0,0,1,299,2370) rotate(90deg);
		transform-origin: center;
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 86px;
		white-space: nowrap;
		text-align: left;
		font-family: Poppins;
		font-style: normal;
		font-weight: bold;
		font-size: 107px;
		color: rgba(251,174,184,1);
}*/

.btn-vente {
  position: absolute;
  overflow: visible;
  width: 398px;
  height: 80px;
  left: 570px;
  top: 2569px;
  background-color: #f2f2f2;
  border-radius: 40px;
  border: #F2F2F2;
  cursor: pointer;
}

.text-btnvente {
  left: 70px;
  top: 20px;
  position: absolute;
  overflow: visible;
  width: 250px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  color: #000000;
}

.etvape-about {
  left: 228px;
  top: 2728px;
  position: absolute;
  overflow: visible;
  width: 505px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial Rounded MT;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  color: #000000;
}

.text-about {
  left: 278px;
  top: 3041px;
  position: absolute;
  overflow: visible;
  width: 1367px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #484a47;
}

.overlay-about {
  position: absolute;
  overflow: visible;
  width: 1536px;
  height: 188px;
  left: 0px;
  top: 3304px;
  background-color: #fbaeb8;
}

.logo-ecigarette {
  position: absolute;
  width: 292px;
  height: 256px;
  left: 293px;
  top: 3135px;
  overflow: visible;
}

.text-ecigarette {
  left: 428px;
  top: 3417px;
  position: absolute;
  overflow: visible;
  width: 94px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #000000;
}

.logo-france {
  position: absolute;
  width: 192px;
  height: 181px;
  left: 705px;
  top: 3216px;
  overflow: visible;
}

.text-france {
  left: 724px;
  top: 3415px;
  position: absolute;
  overflow: visible;
  width: 154px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #000000;
}

.logo-kawaii {
  position: absolute;
  width: 105px;
  height: 169px;
  left: 1112px;
  top: 3222px;
  overflow: visible;
}

.text-kawaii {
  left: 1088px;
  top: 3415px;
  position: absolute;
  overflow: visible;
  width: 149px;
  white-space: nowrap;
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #000000;
}

.btn-about {
  position: absolute;
  overflow: visible;
  width: 334px;
  height: 80px;
  left: 640px;
  top: 3547px;
  background-color: #f2f2f2;
  border-radius: 40px;
  border: #F2F2F2;
}

.text-btnabout {
  left: 60px;
  top: 20px;
  position: absolute;
  overflow: visible;
  width: 218px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  color: #000000;
}

.actu {
  left: 278px;
  top: 3717px;
  position: absolute;
  overflow: visible;
  width: 326px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial Rounded MT;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  color: #000000;
  /*padding-top: 2746px;
		padding-left: 200px;*/
}


.btn-actu {
  position: absolute;
  overflow: visible;
  width: 398px;
  height: 80px;
  left: 761px;
  top: 4749px;
  background-color: #f2f2f2;
  border-radius: 40px;
  border: #F2F2F2;
}

.text-btnactu {
  left: 80px;
  top: 20px;
  position: absolute;
  overflow: visible;
  width: 232px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  color: #000000;
}

/*
.container {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 2824px;
}

.slider img {
  max-width: 100%;
  display: none;
}

img.active {
  display: block;
  animation: fade 0.8s;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.cont-btn {
  width: 100%;
  height: auto;
  border: 1px solid #000;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
}

.btn-nav {
  font-size: 50px;
  margin: 0 15px;
  cursor: pointer;
}*/

#slider {
  position: relative;
  width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  padding-top: 2824px;
}

#precedent,
#suivant {
  cursor: pointer;
  transition: opacity 0.3s ease;
  opacity: 0;
  position: absolute;
  font-size: 100px;
  color: #dcdcdc;
  background-color: #000000;
  padding: 10px;
}

#precedent {
  left: 0;
}

#suivant {
  right: 0;
}

#slider:hover #precedent,
#slider:hover #suivant {
  opacity: 1;
}

.avis {
  left: 278px;
  top: 4919px;
  position: absolute;
  overflow: visible;
  width: 614px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial Rounded MT;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  color: #000000;
}

.avis-verif {
  left: 278px;
  top: 5049px;
  position: absolute;
  overflow: visible;
  width: 170px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial Rounded MT;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  color: #000000;
}

.avis-img {
  position: absolute;
  width: 212px;
  height: 111px;
  left: 467px;
  top: 5002px;
  overflow: visible;
}

/*  FIN ACCUEIL */

/*	A PROPOS */
#img-apropos {
  position: absolute;
  width: 1312px;
  height: 400px;
  left: 140px;
  top: 106px;
  overflow: visible;
  background-image: url('../img/e-cigarette-1881957_1920.png')
}

#title-about {
  left: 365px;
  top: 586px;
  position: absolute;
  overflow: visible;
  width: 875px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial Rounded MT;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  color: #000000;
}

#name-about {
  left: 222px;
  top: 769px;
  position: absolute;
  overflow: visible;
  width: 337px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial Rounded MT;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  color: #000000;
}

#img-gerant {
  position: absolute;
  width: 674px;
  height: 755px;
  left: 222px;
  top: 899px;
  overflow: visible;
}

#deb-text {
  left: 980px;
  top: 920px;
  position: absolute;
  overflow: visible;
  width: 39px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial Rounded MT;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  color: #000000;
}

#contenu-text {
  left: 1050px;
  top: 1000px;
  position: absolute;
  overflow: visible;
  width: 179px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial Rounded MT;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  color: #000000;
}

#fin-text {
  left: 1400px;
  top: 1250px;
  position: absolute;
  overflow: visible;
  width: 39px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial Rounded MT;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  color: #000000;
}

#author {
  left: 1140px;
  top: 1350px;
  position: absolute;
  overflow: visible;
  width: 298px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #000000;
}

#date-about {
  left: 222px;
  top: 1744px;
  position: absolute;
  overflow: visible;
  width: 817px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial Rounded MT;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  color: #000000;
}

#date1 {
  left: 335px;
  top: 1867px;
  position: absolute;
  overflow: visible;
  width: 108px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial Rounded MT;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  color: #000000;
}

#date2 {
  left: 857px;
  top: 1869px;
  position: absolute;
  overflow: visible;
  width: 108px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial Rounded MT;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  color: #000000;
}

#date3 {
  left: 1336px;
  top: 1869px;
  position: absolute;
  overflow: visible;
  width: 108px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial Rounded MT;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  color: #000000;
}

#img-date1 {
  position: absolute;
  overflow: visible;
  width: 398px;
  height: 326px;
  left: 100px;
  top: 1921px;
  background-color: #ffffff;
}

#img-date2 {
  position: absolute;
  overflow: visible;
  width: 398px;
  height: 326px;
  left: 600px;
  top: 1921px;
  background-color: #ffffff;
}

#img-date3 {
  position: absolute;
  overflow: visible;
  width: 398px;
  height: 326px;
  left: 1130px;
  top: 1921px;
  background-color: #ffffff;
}

#legende-date1 {
  left: 100px;
  top: 2257px;
  position: absolute;
  overflow: visible;
  width: 77px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #000000;
}

#legende-date2 {
  left: 600px;
  top: 2257px;
  position: absolute;
  overflow: visible;
  width: 77px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #000000;
}

#legende-date3 {
  left: 1173px;
  top: 2257px;
  position: absolute;
  overflow: visible;
  width: 77px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #000000;
}

#text-eteavape {
  left: 279px;
  top: 2349px;
  position: absolute;
  overflow: visible;
  width: 1243px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #484a47;
}

#titre-valeur {
  left: 222px;
  top: 2557px;
  position: absolute;
  overflow: visible;
  width: 259px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial Rounded MT;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  color: #000000;
}

#overlay-about {
  position: absolute;
  overflow: visible;
  width: 1536px;
  height: 190px;
  left: 0px;
  top: 2756px;
  background-color: #fbaeb8;
}

#fait-main {
  overflow: visible;
  position: absolute;
  width: 116.841px;
  height: 155.787px;
  left: 416px;
  top: 2678.106px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#france {
  position: absolute;
  width: 221px;
  height: 208px;
  left: 692px;
  top: 2652px;
  overflow: visible;
}

/*	FIN A PROPOS	*/

/*	BLOG	*/

#img-blog {
  position: absolute;
  width: 1640px;
  height: 400px;
  left: 140px;
  top: 106px;
  overflow: visible;
  background-image: url('img/eliquid-g735595a75_1920.png')
}

/*	FIN BLOG	*/

/*  PRODUITS  */
#bodyproduit {
  margin-top: 120px;
  background-color: #d9d9d9;
}

.card {
  width: 400px;
  /*1*/
  margin: 0px auto;
  /*2*/
  background-color: white;
  /*3*/
  box-shadow: 0px 5px 20px #999;
  /*4*/
  top: 200px;
  left: 162px;
}

.card a {
  /*5*/
  color: #333;
  text-decoration: none;
}

.card:hover .card-image img {
  /*6*/
  width: 160%;
  filter: grayscale(0);
}

.card-image {
  height: 250px;
  /*1*/
  position: relative;
  /*2*/
  overflow: hidden;
  /*3*/
}

.card-image img {
  width: 150%;
  /*4*/
  /*5 - Méthode de centrage en fonction de la taille de l'image */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: grayscale(1);
  /*6*/
  /*7 - Transition */
  transition-property: filter width;
  transition-duration: .3s;
  transition-timing-function: ease;
}

.card-body {
  text-align: center;
  /*1*/
  padding: 15px 20px;
  /*2*/
  box-sizing: border-box;
  /*3*/
}

.card-title,
.card-excerpt {
  font-family: Poppins;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

/*  FIN PRODUITS */

/* PERSONNALISATION */
#bodyperso {
  padding-top: 120px;
  background-color: #f2f2f2;
}

.cat1 {
  position: absolute;
  width: 414px;
  height: 414px;
  left: 1366px;
  top: 526px;
  overflow: visible;
}

.cat1-bulle {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
  position: absolute;
  overflow: visible;
  width: 314px;
  height: 220px;
  left: 1484px;
  top: 398px;
  background-color: #ffffff;
}

.cat1-text {
  left: 1494px;
  top: 472px;
  position: absolute;
  overflow: visible;
  width: 277px;
  white-space: nowrap;
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: #161414;
}

/*.textmiel {
  left: 556px;
  top: 472px;
  position: absolute;
  overflow: visible;
  width: 40px;
  white-space: nowrap;
  text-align: right;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(22, 20, 20, 1);
}

.checkbox-miel {
  position: absolute;
  left: 669px;
  top: 472px;
}

.textcitron {
  left: 556px;
  top: 538px;
  position: absolute;
  overflow: visible;
  width: 62px;
  white-space: nowrap;
  text-align: right;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(22, 20, 20, 1);
}

.checkbox-citron {
  position: absolute;
  left: 669px;
  top: 538px;
}

.textfleur {
  left: 556px;
  top: 594px;
  position: absolute;
  overflow: visible;
  width: 85px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(22, 20, 20, 1);
}

.checkbox-fleur {
  position: absolute;
  left: 669px;
  top: 594px;
}

.textfraise {
  left: 556px;
  top: 680px;
  position: absolute;
  overflow: visible;
  width: 60px;
  white-space: nowrap;
  text-align: right;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(22, 20, 20, 1);
}

.checkbox-fraise {
  position: absolute;
  left: 669px;
  top: 600px;
}

.textcerise {
  left: 846px;
  top: 472px;
  position: absolute;
  overflow: visible;
  width: 109px;
  white-space: nowrap;
  text-align: right;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(22, 20, 20, 1);
}

.checkbox-cerise {
  position: absolute;
  left: 869px;
  top: 455px;
}

.text-thenoir {
  left: 875px;
  top: 538px;
  position: absolute;
  overflow: visible;
  width: 80px;
  white-space: nowrap;
  text-align: right;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(22, 20, 20, 1);
}

.checkbox-thenoir {
  position: absolute;
  left: 869px;
  top: 500px;
}

.textfruit {
  left: 877px;
  top: 594px;
  position: absolute;
  overflow: visible;
  width: 75px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(22, 20, 20, 1);
}

.checkbox-fruit {
  position: absolute;
  left: 869px;
  top: 555px;
}

.text-thevert {
  left: 874px;
  top: 680px;
  position: absolute;
  overflow: visible;
  width: 81px;
  white-space: nowrap;
  text-align: right;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(22, 20, 20, 1);
}

.checkbox-thevert {
  position: absolute;
  left: 869px;
  top: 600px;
}*/

.btn-retour {
  position: absolute;
  overflow: visible;
  width: 260px;
  height: 80px;
  left: 432px;
  top: 953px;
  border-radius: 40px;
}

.text-btnretour {
  left: 454px;
  top: 976px;
  position: absolute;
  overflow: visible;
  width: 218px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  color: #161414;
}

.btn-suivant {
  position: absolute;
  overflow: visible;
  width: 260px;
  height: 80px;
  left: 1366px;
  top: 953px;
  cursor: pointer;
  background-color: #d14454;
  border-radius: 40px;
}

.text-btnsuivant {
  left: 80px;
  top: 20px;
  position: absolute;
  overflow: visible;
  width: 98px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  color: #ffffff;
}

/*  FIN PERSONNALISATION  */

/*	MENU	*/
#body-menu {
  position: absolute;
  width: 1920px;
  height: 1080px;
  background-color: #d14454;
  overflow: hidden;
}

#cross {
  position: absolute;
  width: 58.987px;
  height: 43.5px;
  left: 1241px;
  top: 70px;
  overflow: visible;
  cursor: pointer;
}

#produit {
  left: 450px;
  top: 150px;
  position: absolute;
  overflow: visible;
  width: 443px;
  white-space: nowrap;
  line-height: 50px;
  margin-top: -2.5px;
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  color: #ffffff;
  /*margin-left: 425px;
  margin-top: 200px;*/
}

#perso {
  left: 450px;
  top: 250px;
  position: absolute;
  overflow: visible;
  width: 443px;
  white-space: nowrap;
  line-height: 50px;
  margin-top: -2.5px;
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  color: #ffffff;
}

#qui {
  left: 450px;
  top: 400px;
  position: absolute;
  overflow: visible;
  width: 443px;
  white-space: nowrap;
  line-height: 50px;
  margin-top: -2.5px;
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  color: #ffffff;
}

#contact {
  left: 450px;
  top: 500px;
  position: absolute;
  overflow: visible;
  width: 443px;
  white-space: nowrap;
  line-height: 50px;
  margin-top: -2.5px;
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  color: #ffffff;
}

#blog {
  left: 450px;
  top: 600px;
  position: absolute;
  overflow: visible;
  width: 443px;
  white-space: nowrap;
  line-height: 50px;
  margin-top: -2.5px;
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  color: #ffffff;
}

#instagram-menu {
  position: absolute;
  width: 55px;
  height: 55px;
  left: 500px;
  top: 675px;
  overflow: visible;
}

#facebook-menu {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 665px;
  top: 675px;
  overflow: visible;
}

#youtube-menu {
  position: absolute;
  width: 49.704px;
  height: 37.284px;
  left: 830px;
  top: 675px;
  overflow: visible;
}

/*  FIN MENU  */

/*  SEARCH  */

#body-search {
  position: absolute;
  width: 1920px;
  height: 1080px;
  background-color: #d14454;
  overflow: hidden;
}

/*  FIN SEARCH  */

/*  RESULT SEARCH */
.title-result {
  text-align: center;
  padding-top: 200px;
  color: black;
  font-family: Poppins;
  font-size: 60px;
}

/*  FIN RESULT SEARCH */

/*  CONTACT */

#img-contact {
  position: absolute;
  width: 1000px;
  height: 400px;
  left: 140px;
  top: 120px;
  overflow: visible;
}

#map {
  position: absolute;
  width: 740px;
  height: 483px;
  left: 1040px;
  top: 1071px;
  overflow: visible;
}

#meet-shop {
  left: 278px;
  top: 989px;
  position: absolute;
  overflow: visible;
  width: 659px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial Rounded MT;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  color: #161414;
}

#clock {
  overflow: visible;
  position: absolute;
  width: 37.112px;
  height: 37.112px;
  left: 278px;
  top: 1159px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

/*  FIN CONTACT */

/*	FOOTER	*/

#footer {
  position: absolute;
  overflow: visible;
  width: 1536px;
  height: 357px;
  left: 0px;
  top: 5637px;
  background-color: #f2f2f2;
}

.footer-logo {
  position: absolute;
  width: 229px;
  height: 229px;
  left: 100px;
  top: 70px;
  overflow: visible;
}

.logof-text {
  left: 70px;
  top: 25px;
  position: absolute;
  overflow: visible;
  width: 111px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial Rounded MT;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: #707070;
}

.liquidef {
  left: 416px;
  top: 80px;
  position: absolute;
  overflow: visible;
  width: 170px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 33px;
  color: #161414;
}

.fraise {
  left: 416px;
  top: 145px;
  position: absolute;
  overflow: visible;
  width: 60px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #000000;
}

.menthe {
  left: 416px;
  top: 190px;
  position: absolute;
  overflow: visible;
  width: 76px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #000000;
}

.passion {
  left: 416px;
  top: 235px;
  position: absolute;
  overflow: visible;
  width: 77px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #000000;
}

.savoirliquide {
  left: 416px;
  top: 300px;
  position: absolute;
  overflow: visible;
  width: 137px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #000000;
  text-decoration: underline;
}

.accessoiresf {
  left: 692px;
  top: 80px;
  position: absolute;
  overflow: visible;
  width: 203px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 33px;
  color: #161414;
}

.accessoire1 {
  left: 692px;
  top: 145px;
  position: absolute;
  overflow: visible;
  width: 108px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #000000;
}

.accessoire2 {
  left: 692px;
  top: 190px;
  position: absolute;
  overflow: visible;
  width: 108px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #000000;
}

.accessoire3 {
  left: 692px;
  top: 235px;
  position: absolute;
  overflow: visible;
  width: 108px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #000000;
}

.savoiraccessoire {
  left: 692px;
  top: 300px;
  position: absolute;
  overflow: visible;
  width: 137px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #000000;
  text-decoration: underline;
}

.propos {
  left: 968px;
  top: 80px;
  position: absolute;
  overflow: visible;
  width: 151px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 33px;
  color: #161414;
}

.marque {
  left: 968px;
  top: 145px;
  position: absolute;
  overflow: visible;
  width: 111px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #000000;
}

.mention {
  left: 968px;
  top: 190px;
  position: absolute;
  overflow: visible;
  width: 169px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #000000;
}

.cgv {
  left: 968px;
  top: 235px;
  position: absolute;
  overflow: visible;
  width: 46px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #000000;
}

.newsletter {
  left: 1244px;
  top: 5679px;
  position: absolute;
  overflow: visible;
  width: 180px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 33px;
  color: #161414;
}

.news1 {
  left: 1244px;
  top: 5740px;
  position: absolute;
  overflow: visible;
  width: 301px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #000000;
}

.news2 {
  left: 1244px;
  top: 5765px;
  position: absolute;
  overflow: visible;
  width: 301px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #000000;
}

.news3 {
  left: 1244px;
  top: 5793px;
  position: absolute;
  overflow: visible;
  width: 301px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #000000;
}

.rgpd {
  left: 968px;
  top: 280px;
  position: absolute;
  overflow: visible;
  width: 46px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #000000;
}

.mail {
  position: absolute;
  overflow: visible;
  width: 276px;
  height: 50px;
  left: 1244px;
  top: 5882px;
  background-color: #ffffff;
}

.mail-text {
  left: 1257px;
  top: 5894px;
  position: absolute;
  overflow: visible;
  width: 57px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #707070;
}

.mail-button {
  position: absolute;
  overflow: visible;
  width: 74px;
  height: 48px;
  left: 0px;
  top: 0px;
  background-color: #d14454;
}

.instagram {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 1260px;
  top: 100px;
  overflow: visible;
}

.facebook {
  overflow: visible;
  position: absolute;
  width: 49.704px;
  height: 49.405px;
  left: 1260px;
  top: 175px;
  transform: matrix(1, 0, 0, 1, 0, 0);
  /*background-color: #4267b2;*/
}

.youtube {
  overflow: visible;
  position: absolute;
  width: 49.704px;
  height: 37.284px;
  left: 1260px;
  top: 250px;
  transform: matrix(1, 0, 0, 1, 0, 0);
  /*background-color: #c4302b;*/
}

/*  FOOTER  */

.img-pdt {
  position: absolute;
  width: 812px;
  height: 793px;
  left: 140px;
  top: 120px;
  overflow: visible;
}

.nom-pdt {
  left: 968px;
  top: 190px;
  position: absolute;
  overflow: visible;
  width: 339px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial Rounded MT;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  color: rgba(22, 20, 20, 1);
}

.prix-pdt {
  left: 968px;
  top: 271px;
  position: absolute;
  overflow: visible;
  width: 92px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial Rounded MT;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  color: rgba(22, 20, 20, 1);
}

.qte-pdt {
  position: absolute;
  overflow: visible;
  width: 122px;
  height: 80px;
  left: 968px;
  top: 343px;
}

.btn-panier {
  position: absolute;
  overflow: visible;
  width: 536px;
  height: 80px;
  left: 968px;
  top: 833px;
  background-color: rgba(209, 68, 84, 1);
}

#slider-img {
  position: absolute;
  width: 1396px;
  height: 715px;
  left: 278px;
  top: 3847px;
  overflow: visible;
}

#produits {
  overflow: visible;
  width: 405px;
  white-space: nowrap;
  font-family: Arial Rounded MT;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  color: #000000;
  padding-top: 129px;
  padding-left: 949px;
  text-align: center;
}