.mediaViewInfo {
  --web-view-name: Web 1920 – 3;
  --web-view-id: Web_1920__3;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
:root {
  --web-view-ids: Web_1920__3;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
#Web_1920__3 {
  position: absolute;
  width: 1920px;
  height: 5994px;
  background-color: rgba(255,255,255,1);
  overflow: hidden;
  --web-view-name: Web 1920 – 3;
  --web-view-id: Web_1920__3;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
@keyframes fadein {

  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }

}
#eliquid-g735595a75_1920 {
  position: absolute;
  width: 1920px;
  height: 959px;
  left: 0px;
  top: 117px;
  overflow: visible;
}
#kawaii-2995008_1280 {
  position: absolute;
  width: 387px;
  height: 625px;
  left: 278px;
  top: 1157px;
  overflow: visible;
}
#Rectangle_119 {
  fill: rgba(255,255,255,1);
}
.Rectangle_119 {
  position: absolute;
  overflow: visible;
  width: 1920px;
  height: 118px;
  left: 0px;
  top: 0px;
}
#Rectangle_3 {
  fill: rgba(209,68,84,1);
}
.Rectangle_3 {
  position: absolute;
  overflow: visible;
  width: 154px;
  height: 190px;
  left: 262px;
  top: 0px;
}
#Rectangle_4 {
  fill: rgba(255,255,255,1);
  stroke: rgba(112,112,112,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_4 {
  position: absolute;
  overflow: visible;
  width: 162px;
  height: 74px;
  left: 880px;
  top: 964px;
}
#swipe {
  left: 917px;
  top: 970px;
  position: absolute;
  overflow: visible;
  width: 101px;
  white-space: nowrap;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  color: rgba(112,112,112,1);
}
#Nos_meilleurs_ventes {
  left: 285px;
  top: 1872px;
  position: absolute;
  overflow: visible;
  width: 456px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial Rounded MT;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  color: rgba(0,0,0,1);
}
#Cest_quoi_E-tea_Vape_ {
  left: 278px;
  top: 2914px;
  position: absolute;
  overflow: visible;
  width: 505px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial Rounded MT;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  color: rgba(0,0,0,1);
}
#Rectangle_18 {
  fill: rgba(242,242,242,1);
}
.Rectangle_18 {
  position: absolute;
  overflow: visible;
  width: 1920px;
  height: 357px;
  left: 0px;
  top: 5637px;
}
#Rectangle_19 {
  fill: rgba(251,174,184,1);
}
.Rectangle_19 {
  position: absolute;
  overflow: visible;
  width: 1920px;
  height: 188px;
  left: 0px;
  top: 3304px;
}
#Original__personalisable {
  left: 1088px;
  top: 3415px;
  position: absolute;
  overflow: visible;
  width: 149px;
  white-space: nowrap;
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(0,0,0,1);
}
#Fait_main {
  left: 428px;
  top: 3417px;
  position: absolute;
  overflow: visible;
  width: 94px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(0,0,0,1);
}
#e-teavape {
  left: 177px;
  top: 5762px;
  position: absolute;
  overflow: visible;
  width: 111px;
  white-space: nowrap;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  color: rgba(242,242,242,1);
}
#Ils_apprcient_nos_services_ {
  left: 278px;
  top: 4919px;
  position: absolute;
  overflow: visible;
  width: 614px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial Rounded MT;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  color: rgba(0,0,0,1);
}
#Avis_vrifi_ {
  left: 278px;
  top: 5049px;
  position: absolute;
  overflow: visible;
  width: 170px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial Rounded MT;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  color: rgba(0,0,0,1);
}
#Notre_actualit {
  left: 278px;
  top: 3717px;
  position: absolute;
  overflow: visible;
  width: 326px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial Rounded MT;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  color: rgba(0,0,0,1);
}
#abstract-g1a6709f79_640 {
  position: absolute;
  width: 1396px;
  height: 715px;
  left: 278px;
  top: 3847px;
  overflow: visible;
}
#Trac_3 {
  fill: rgba(255,255,255,1);
}
.Trac_3 {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.051));
  overflow: visible;
  position: absolute;
  width: 1106px;
  height: 160px;
  left: 432px;
  top: 4491px;
  transform: matrix(1,0,0,1,0,0);
}
#Titre {
  left: 926px;
  top: 4570px;
  position: absolute;
  overflow: visible;
  width: 69px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial Rounded MT;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  color: rgba(0,0,0,1);
}
#catgorie_-_18022022 {
  left: 830px;
  top: 4506px;
  position: absolute;
  overflow: visible;
  width: 285px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  color: rgba(112,112,112,1);
}
#Groupe_1 {
  position: absolute;
  width: 84px;
  height: 36px;
  left: 297px;
  top: 76px;
  overflow: visible;
  --web-animation: fadein 0.30000001192092896s ease-out;
  --web-action-type: page;
  --web-action-target: Web_1920___4.html;
  cursor: pointer;
}
#Ligne_9 {
  fill: transparent;
  stroke: rgba(255,255,255,1);
  stroke-width: 5px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ligne_9 {
  overflow: visible;
  position: absolute;
  width: 70px;
  height: 5px;
  left: 0px;
  top: 36px;
  transform: matrix(1,0,0,1,0,0);
}
#Ligne_10 {
  fill: transparent;
  stroke: rgba(255,255,255,1);
  stroke-width: 5px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ligne_10 {
  overflow: visible;
  position: absolute;
  width: 70px;
  height: 5px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Ligne_11 {
  fill: transparent;
  stroke: rgba(255,255,255,1);
  stroke-width: 5px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ligne_11 {
  overflow: visible;
  position: absolute;
  width: 70px;
  height: 5px;
  left: 14px;
  top: 18px;
  transform: matrix(1,0,0,1,0,0);
}
#Menu {
  left: 297px;
  top: 118px;
  position: absolute;
  overflow: visible;
  width: 70px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  color: rgba(255,255,255,1);
}
#Rectangle_21 {
  fill: rgba(255,255,255,1);
}
.Rectangle_21 {
  position: absolute;
  overflow: visible;
  width: 195px;
  height: 190px;
  left: 554px;
  top: 0px;
}
#Th_sans_fond {
  position: absolute;
  width: 151px;
  height: 151px;
  left: 576px;
  top: -3px;
  overflow: visible;
}
#person {
  fill: rgba(112,112,112,1);
}
.person {
  overflow: visible;
  position: absolute;
  width: 43.82px;
  height: 47.19px;
  left: 1460.18px;
  top: 34.81px;
  transform: matrix(1,0,0,1,0,0);
}
#Th_sans_fond_bw {
  position: absolute;
  width: 229px;
  height: 229px;
  left: 140px;
  top: 5637px;
  overflow: visible;
}
#Accessoires {
  left: 692px;
  top: 5679px;
  position: absolute;
  overflow: visible;
  width: 203px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 33px;
  color: rgba(22,20,20,1);
}
#E-liquides {
  left: 416px;
  top: 5679px;
  position: absolute;
  overflow: visible;
  width: 170px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 33px;
  color: rgba(22,20,20,1);
}
#n_propos {
  left: 968px;
  top: 5679px;
  position: absolute;
  overflow: visible;
  width: 151px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 33px;
  color: rgba(22,20,20,1);
}
#Menthe {
  left: 416px;
  top: 5787px;
  position: absolute;
  overflow: visible;
  width: 76px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(0,0,0,1);
}
#Fraise {
  left: 416px;
  top: 5745px;
  position: absolute;
  overflow: visible;
  width: 60px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(0,0,0,1);
}
#e-teavape_b {
  left: 692px;
  top: 5781px;
  position: absolute;
  overflow: visible;
  width: 108px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(0,0,0,1);
}
#e-teavape_ca {
  left: 692px;
  top: 5745px;
  position: absolute;
  overflow: visible;
  width: 108px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(0,0,0,1);
}
#e-teavape_cb {
  left: 692px;
  top: 5817px;
  position: absolute;
  overflow: visible;
  width: 108px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(0,0,0,1);
}
#Mentions_lgales {
  left: 968px;
  top: 5785px;
  position: absolute;
  overflow: visible;
  width: 169px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(0,0,0,1);
}
#E-tea_vape {
  left: 968px;
  top: 5741px;
  position: absolute;
  overflow: visible;
  width: 111px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(0,0,0,1);
}
#CGV {
  left: 968px;
  top: 5827px;
  position: absolute;
  overflow: visible;
  width: 46px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(0,0,0,1);
}
#n_80b585b2edbce24c47b26f8 {
  fill: transparent;
}
.n_80b585b2edbce24c47b26f8 {
  position: absolute;
  overflow: visible;
  width: 435px;
  height: 288px;
  left: 1235px;
  top: 5672px;
}
#Rectangle_26 {
  fill: rgba(255,255,255,1);
}
.Rectangle_26 {
  position: absolute;
  overflow: visible;
  width: 276px;
  height: 50px;
  left: 1244px;
  top: 5882px;
}
#email {
  left: 1257px;
  top: 5894px;
  position: absolute;
  overflow: visible;
  width: 57px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(112,112,112,1);
}
#Composant_3__1 {
  position: absolute;
  width: 74px;
  height: 48px;
  left: 1446px;
  top: 5883px;
  overflow: visible;
}
#Rectangle_27 {
  fill: rgba(209,68,84,1);
}
.Rectangle_27 {
  position: absolute;
  overflow: visible;
  width: 74px;
  height: 48px;
  left: 0px;
  top: 0px;
}
#send {
  position: absolute;
  width: 19.955px;
  height: 17.296px;
  left: 31px;
  top: 15.353px;
  overflow: visible;
}
#send_ce {
  fill: rgba(255,255,255,1);
}
.send_ce {
  overflow: visible;
  position: absolute;
  width: 19.955px;
  height: 17.295px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Newsletter {
  left: 1244px;
  top: 5679px;
  position: absolute;
  overflow: visible;
  width: 180px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 33px;
  color: rgba(22,20,20,1);
}
#rgpd {
  left: 1271px;
  top: 5838px;
  position: absolute;
  overflow: visible;
  width: 30px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: rgba(0,0,0,1);
}
#Rectangle_28 {
  fill: rgba(0,0,0,1);
}
.Rectangle_28 {
  position: absolute;
  overflow: visible;
  width: 16px;
  height: 16px;
  left: 1244px;
  top: 5839px;
}
#lorem_ipsum_lorem_ipsum_lore {
  left: 1244px;
  top: 5740px;
  position: absolute;
  overflow: visible;
  width: 301px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(0,0,0,1);
}
#lorem_ipsum_lorem_ipsum_lore_cj {
  left: 1244px;
  top: 5765px;
  position: absolute;
  overflow: visible;
  width: 301px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(0,0,0,1);
}
#Grille_de_rptition_1 {
  position: absolute;
  width: 62px;
  height: 16px;
  left: 964px;
  top: 4666px;
  overflow: hidden;
}
#Group {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Ellipse_3 {
  fill: rgba(255,255,255,1);
  stroke: rgba(112,112,112,1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_3 {
  position: absolute;
  overflow: visible;
  width: 16px;
  height: 16px;
  left: 0px;
  top: 0px;
}
#Group_cn {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 36px;
  top: 0px;
  overflow: visible;
}
#Ellipse_3_co {
  fill: rgba(255,255,255,1);
  stroke: rgba(112,112,112,1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_3_co {
  position: absolute;
  overflow: visible;
  width: 16px;
  height: 16px;
  left: 0px;
  top: 0px;
}
#E-tea_Vape {
  left: 202px;
  top: 5881px;
  position: absolute;
  overflow: visible;
  width: 107px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial Rounded MT;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: rgba(112,112,112,1);
}
#E-tea_Vape_cq {
  left: 596px;
  top: 157px;
  position: absolute;
  overflow: visible;
  width: 107px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial Rounded MT;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: rgba(112,112,112,1);
}
#Et_si_vous__personnalisiez__vo {
  left: 830px;
  top: 1148px;
  position: absolute;
  overflow: visible;
  width: 625px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial Rounded MT;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  color: rgba(0,0,0,1);
}
#Ellipse_4 {
  fill: transparent;
  stroke: rgba(209,68,84,1);
  stroke-width: 4px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_4 {
  position: absolute;
  overflow: visible;
  width: 16px;
  height: 16px;
  left: 927px;
  top: 4666px;
}
#Made_in_France {
  left: 724px;
  top: 3415px;
  position: absolute;
  overflow: visible;
  width: 154px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(0,0,0,1);
}
#Grille_de_rptition_2 {
  position: absolute;
  width: 1404px;
  height: 679px;
  left: 269px;
  top: 1999px;
  overflow: hidden;
}
#Group_cv {
  position: absolute;
  width: 407px;
  height: 699px;
  left: 0px;
  top: -28px;
  overflow: visible;
}
#e-cigarette-4338716 {
  position: absolute;
  width: 398px;
  height: 555px;
  left: 9px;
  top: 0px;
  overflow: visible;
}
#Citron__Miel {
  left: 41px;
  top: 608px;
  position: absolute;
  overflow: visible;
  width: 188px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial Rounded MT;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  color: rgba(0,0,0,1);
}
#n_500_ {
  left: 41px;
  top: 665px;
  position: absolute;
  overflow: visible;
  width: 107px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial Rounded MT;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  color: rgba(0,0,0,1);
}
#n_ {
  transform: translate(-267px, -1836px) matrix(1,0,0,1,299,2370) rotate(90deg);
  transform-origin: center;
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 86px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 107px;
  color: rgba(251,174,184,1);
}
#Group_c {
  position: absolute;
  width: 407px;
  height: 699px;
  left: 484px;
  top: -28px;
  overflow: visible;
}
#e-cigarette-4338716_c {
  position: absolute;
  width: 398px;
  height: 555px;
  left: 9px;
  top: 0px;
  overflow: visible;
}
#Citron__Miel_c {
  left: 41px;
  top: 608px;
  position: absolute;
  overflow: visible;
  width: 188px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial Rounded MT;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  color: rgba(0,0,0,1);
}
#n_500__c {
  left: 41px;
  top: 665px;
  position: absolute;
  overflow: visible;
  width: 107px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial Rounded MT;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  color: rgba(0,0,0,1);
}
#n__c {
  transform: translate(-267px, -1836px) matrix(1,0,0,1,299,2370) rotate(90deg);
  transform-origin: center;
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 86px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 107px;
  color: rgba(251,174,184,1);
}
#Group_da {
  position: absolute;
  width: 407px;
  height: 699px;
  left: 968px;
  top: -28px;
  overflow: visible;
}
#e-cigarette-4338716_da {
  position: absolute;
  width: 398px;
  height: 555px;
  left: 9px;
  top: 0px;
  overflow: visible;
}
#Citron__Miel_da {
  left: 41px;
  top: 608px;
  position: absolute;
  overflow: visible;
  width: 188px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial Rounded MT;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  color: rgba(0,0,0,1);
}
#n_500__da {
  left: 41px;
  top: 665px;
  position: absolute;
  overflow: visible;
  width: 107px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial Rounded MT;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  color: rgba(0,0,0,1);
}
#n__da {
  transform: translate(-267px, -1836px) matrix(1,0,0,1,299,2370) rotate(90deg);
  transform-origin: center;
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 86px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 107px;
  color: rgba(251,174,184,1);
}
#n_f1eb-1f1f7 {
  position: absolute;
  width: 192px;
  height: 181px;
  left: 705px;
  top: 3216px;
  overflow: visible;
}
#Grille_de_rptition_4 {
  position: absolute;
  width: 1514px;
  height: 199px;
  left: 266px;
  top: 5135px;
  overflow: hidden;
}
#Group_dc {
  position: absolute;
  width: 536px;
  height: 184px;
  left: 12px;
  top: 0px;
  overflow: visible;
}
#Rectangle_39 {
  fill: rgba(255,255,255,1);
}
.Rectangle_39 {
  filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.161));
  position: absolute;
  overflow: visible;
  width: 560px;
  height: 149px;
  left: 0px;
  top: 59px;
}
#Ellipse_6 {
  fill: rgba(255,255,255,1);
  stroke: rgba(112,112,112,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_6 {
  position: absolute;
  overflow: visible;
  width: 122px;
  height: 122px;
  left: 0px;
  top: 0px;
}
#Ligne_19 {
  fill: transparent;
  stroke: rgba(112,112,112,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ligne_19 {
  overflow: visible;
  position: absolute;
  width: 88.69px;
  height: 84.724px;
  left: 15.5px;
  top: 19.5px;
  transform: matrix(1,0,0,1,0,0);
}
#Ligne_20 {
  fill: transparent;
  stroke: rgba(112,112,112,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ligne_20 {
  overflow: visible;
  position: absolute;
  width: 84.707px;
  height: 84.707px;
  left: 19.5px;
  top: 19.5px;
  transform: matrix(1,0,0,1,0,0);
}
#Avis_google {
  left: 138px;
  top: 67px;
  position: absolute;
  overflow: visible;
  width: 70px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: rgba(0,0,0,1);
}
#Jai_aim_le_service_etc_merci_m {
  left: 138px;
  top: 103px;
  position: absolute;
  overflow: visible;
  width: 320px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: rgba(0,0,0,1);
}
#Group_dj {
  position: absolute;
  width: 536px;
  height: 184px;
  left: 592px;
  top: 0px;
  overflow: visible;
}
#Rectangle_39_dk {
  fill: rgba(255,255,255,1);
}
.Rectangle_39_dk {
  filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.161));
  position: absolute;
  overflow: visible;
  width: 560px;
  height: 149px;
  left: 0px;
  top: 59px;
}
#Ellipse_6_dl {
  fill: rgba(255,255,255,1);
  stroke: rgba(112,112,112,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_6_dl {
  position: absolute;
  overflow: visible;
  width: 122px;
  height: 122px;
  left: 0px;
  top: 0px;
}
#Ligne_19_dm {
  fill: transparent;
  stroke: rgba(112,112,112,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ligne_19_dm {
  overflow: visible;
  position: absolute;
  width: 88.69px;
  height: 84.724px;
  left: 15.5px;
  top: 19.5px;
  transform: matrix(1,0,0,1,0,0);
}
#Ligne_20_dn {
  fill: transparent;
  stroke: rgba(112,112,112,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ligne_20_dn {
  overflow: visible;
  position: absolute;
  width: 84.707px;
  height: 84.707px;
  left: 19.5px;
  top: 19.5px;
  transform: matrix(1,0,0,1,0,0);
}
#Avis_google_do {
  left: 138px;
  top: 67px;
  position: absolute;
  overflow: visible;
  width: 70px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: rgba(0,0,0,1);
}
#Jai_aim_le_service_etc_merci_m_dp {
  left: 138px;
  top: 103px;
  position: absolute;
  overflow: visible;
  width: 320px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: rgba(0,0,0,1);
}
#Group_dq {
  position: absolute;
  width: 536px;
  height: 184px;
  left: 1172px;
  top: 0px;
  overflow: visible;
}
#Rectangle_39_dr {
  fill: rgba(255,255,255,1);
}
.Rectangle_39_dr {
  filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.161));
  position: absolute;
  overflow: visible;
  width: 560px;
  height: 149px;
  left: 0px;
  top: 59px;
}
#Ellipse_6_ds {
  fill: rgba(255,255,255,1);
  stroke: rgba(112,112,112,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_6_ds {
  position: absolute;
  overflow: visible;
  width: 122px;
  height: 122px;
  left: 0px;
  top: 0px;
}
#Ligne_19_dt {
  fill: transparent;
  stroke: rgba(112,112,112,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ligne_19_dt {
  overflow: visible;
  position: absolute;
  width: 88.69px;
  height: 84.724px;
  left: 15.5px;
  top: 19.5px;
  transform: matrix(1,0,0,1,0,0);
}
#Ligne_20_du {
  fill: transparent;
  stroke: rgba(112,112,112,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ligne_20_du {
  overflow: visible;
  position: absolute;
  width: 84.707px;
  height: 84.707px;
  left: 19.5px;
  top: 19.5px;
  transform: matrix(1,0,0,1,0,0);
}
#Avis_google_dv {
  left: 138px;
  top: 67px;
  position: absolute;
  overflow: visible;
  width: 70px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: rgba(0,0,0,1);
}
#Jai_aim_le_service_etc_merci_m_dw {
  left: 138px;
  top: 103px;
  position: absolute;
  overflow: visible;
  width: 320px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: rgba(0,0,0,1);
}
#Grille_de_rptition_3 {
  position: absolute;
  width: 1392px;
  height: 199px;
  left: 388px;
  top: 5348px;
  overflow: hidden;
}
#Group_dy {
  position: absolute;
  width: 536px;
  height: 184px;
  left: 12px;
  top: 0px;
  overflow: visible;
}
#Rectangle_40 {
  fill: rgba(255,255,255,1);
}
.Rectangle_40 {
  filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.161));
  position: absolute;
  overflow: visible;
  width: 560px;
  height: 149px;
  left: 0px;
  top: 59px;
}
#Ellipse_7 {
  fill: rgba(255,255,255,1);
  stroke: rgba(112,112,112,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_7 {
  position: absolute;
  overflow: visible;
  width: 122px;
  height: 122px;
  left: 0px;
  top: 0px;
}
#Ligne_21 {
  fill: transparent;
  stroke: rgba(112,112,112,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ligne_21 {
  overflow: visible;
  position: absolute;
  width: 88.69px;
  height: 84.724px;
  left: 15.5px;
  top: 19.5px;
  transform: matrix(1,0,0,1,0,0);
}
#Ligne_22 {
  fill: transparent;
  stroke: rgba(112,112,112,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ligne_22 {
  overflow: visible;
  position: absolute;
  width: 84.707px;
  height: 84.707px;
  left: 19.5px;
  top: 19.5px;
  transform: matrix(1,0,0,1,0,0);
}
#Avis_google_d {
  left: 138px;
  top: 67px;
  position: absolute;
  overflow: visible;
  width: 70px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: rgba(0,0,0,1);
}
#Jai_aim_le_service_etc_merci_m_d {
  left: 138px;
  top: 103px;
  position: absolute;
  overflow: visible;
  width: 320px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: rgba(0,0,0,1);
}
#Group_d {
  position: absolute;
  width: 536px;
  height: 184px;
  left: 592px;
  top: 0px;
  overflow: visible;
}
#Rectangle_40_d {
  fill: rgba(255,255,255,1);
}
.Rectangle_40_d {
  filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.161));
  position: absolute;
  overflow: visible;
  width: 560px;
  height: 149px;
  left: 0px;
  top: 59px;
}
#Ellipse_7_d {
  fill: rgba(255,255,255,1);
  stroke: rgba(112,112,112,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_7_d {
  position: absolute;
  overflow: visible;
  width: 122px;
  height: 122px;
  left: 0px;
  top: 0px;
}
#Ligne_21_d {
  fill: transparent;
  stroke: rgba(112,112,112,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ligne_21_d {
  overflow: visible;
  position: absolute;
  width: 88.69px;
  height: 84.724px;
  left: 15.5px;
  top: 19.5px;
  transform: matrix(1,0,0,1,0,0);
}
#Ligne_22_d {
  fill: transparent;
  stroke: rgba(112,112,112,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ligne_22_d {
  overflow: visible;
  position: absolute;
  width: 84.707px;
  height: 84.707px;
  left: 19.5px;
  top: 19.5px;
  transform: matrix(1,0,0,1,0,0);
}
#Avis_google_ea {
  left: 138px;
  top: 67px;
  position: absolute;
  overflow: visible;
  width: 70px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: rgba(0,0,0,1);
}
#Jai_aim_le_service_etc_merci_m_eb {
  left: 138px;
  top: 103px;
  position: absolute;
  overflow: visible;
  width: 320px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: rgba(0,0,0,1);
}
#Group_ec {
  position: absolute;
  width: 536px;
  height: 184px;
  left: 1172px;
  top: 0px;
  overflow: visible;
}
#Rectangle_40_ed {
  fill: rgba(255,255,255,1);
}
.Rectangle_40_ed {
  filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.161));
  position: absolute;
  overflow: visible;
  width: 560px;
  height: 149px;
  left: 0px;
  top: 59px;
}
#Ellipse_7_ee {
  fill: rgba(255,255,255,1);
  stroke: rgba(112,112,112,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_7_ee {
  position: absolute;
  overflow: visible;
  width: 122px;
  height: 122px;
  left: 0px;
  top: 0px;
}
#Ligne_21_ef {
  fill: transparent;
  stroke: rgba(112,112,112,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ligne_21_ef {
  overflow: visible;
  position: absolute;
  width: 88.69px;
  height: 84.724px;
  left: 15.5px;
  top: 19.5px;
  transform: matrix(1,0,0,1,0,0);
}
#Ligne_22_eg {
  fill: transparent;
  stroke: rgba(112,112,112,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ligne_22_eg {
  overflow: visible;
  position: absolute;
  width: 84.707px;
  height: 84.707px;
  left: 19.5px;
  top: 19.5px;
  transform: matrix(1,0,0,1,0,0);
}
#Avis_google_eh {
  left: 138px;
  top: 67px;
  position: absolute;
  overflow: visible;
  width: 70px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: rgba(0,0,0,1);
}
#Jai_aim_le_service_etc_merci_m_ei {
  left: 138px;
  top: 103px;
  position: absolute;
  overflow: visible;
  width: 320px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: rgba(0,0,0,1);
}
#Image_1 {
  position: absolute;
  width: 212px;
  height: 111px;
  left: 467px;
  top: 5002px;
  overflow: visible;
}
#Rectangle_41 {
  fill: rgba(242,242,242,1);
}
.Rectangle_41 {
  position: absolute;
  overflow: visible;
  width: 398px;
  height: 80px;
  left: 781px;
  top: 2744px;
}
#Tous_nos_e-liquides {
  left: 857px;
  top: 2767px;
  position: absolute;
  overflow: visible;
  width: 250px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  color: rgba(0,0,0,1);
}
#location-sharp {
  fill: rgba(209,68,84,1);
}
.location-sharp {
  overflow: visible;
  position: absolute;
  width: 35.357px;
  height: 49.5px;
  left: 1284.972px;
  top: 33.81px;
  transform: matrix(1,0,0,1,0,0);
}
#call {
  fill: rgba(112,112,112,1);
}
.call {
  overflow: visible;
  position: absolute;
  width: 49.49px;
  height: 49.5px;
  left: 1365.51px;
  top: 33.655px;
  transform: matrix(1,0,0,1,0,0);
}
#Salon_de_th {
  left: 1380px;
  top: 3416px;
  position: absolute;
  overflow: visible;
  width: 125px;
  white-space: nowrap;
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(0,0,0,1);
}
#Rectangle_46 {
  fill: rgba(242,242,242,1);
}
.Rectangle_46 {
  position: absolute;
  overflow: visible;
  width: 398px;
  height: 80px;
  left: 761px;
  top: 4749px;
}
#En_apprendre_plus {
  left: 859px;
  top: 4772px;
  position: absolute;
  overflow: visible;
  width: 232px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  color: rgba(0,0,0,1);
}
#logo-facebook {
  fill: rgba(66,103,178,1);
}
.logo-facebook {
  overflow: visible;
  position: absolute;
  width: 49.704px;
  height: 49.405px;
  left: 1730.296px;
  top: 5813.297px;
  transform: matrix(1,0,0,1,0,0);
}
#logo-youtube {
  fill: rgba(196,48,43,1);
}
.logo-youtube {
  overflow: visible;
  position: absolute;
  width: 49.704px;
  height: 37.284px;
  left: 1730.296px;
  top: 5894.716px;
  transform: matrix(1,0,0,1,0,0);
}
#Image_2 {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 1730px;
  top: 5731px;
  overflow: visible;
}
#lorem_ipsum_lorem_ipsum_lore_eu {
  left: 1244px;
  top: 5793px;
  position: absolute;
  overflow: visible;
  width: 301px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(0,0,0,1);
}
#Passion {
  left: 416px;
  top: 5829px;
  position: absolute;
  overflow: visible;
  width: 77px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(0,0,0,1);
}
#shopping_bag_FILL0_wght400_GRA {
  fill: rgba(0,0,0,1);
}
.shopping_bag_FILL0_wght400_GRA {
  overflow: visible;
  position: absolute;
  width: 37.752px;
  height: 47.19px;
  left: 1604.248px;
  top: 35.966px;
  transform: matrix(1,0,0,1,0,0);
}
#Rectangle_84 {
  fill: rgba(209,68,84,1);
  stroke: rgba(255,255,255,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_84 {
  position: absolute;
  overflow: visible;
  width: 138px;
  height: 192px;
  left: 416px;
  top: -2px;
}
#n__ey {
  left: 1619px;
  top: 50px;
  position: absolute;
  overflow: visible;
  width: 9px;
  white-space: nowrap;
  --web-animation: fadein 0.30000001192092896s ease-out;
  --web-action-type: page;
  --web-action-target: Web_1920___5.html;
  cursor: pointer;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  color: rgba(209,68,84,1);
}
#En_savoir_plus {
  left: 416px;
  top: 5871px;
  position: absolute;
  overflow: visible;
  width: 137px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(0,0,0,1);
  text-decoration: underline;
}
#En_savoir_plus_e {
  left: 692px;
  top: 5871px;
  position: absolute;
  overflow: visible;
  width: 137px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(0,0,0,1);
  text-decoration: underline;
}
#En_savoir_plus_fa {
  left: 968px;
  top: 5871px;
  position: absolute;
  overflow: visible;
  width: 137px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(0,0,0,1);
  text-decoration: underline;
}
#search {
  fill: rgba(255,255,255,1);
}
.search {
  overflow: visible;
  position: absolute;
  width: 69.551px;
  height: 69.551px;
  left: 443.449px;
  top: 69.225px;
  transform: matrix(1,0,0,1,0,0);
}
#Rectangle_126 {
  fill: rgba(209,68,84,1);
}
.Rectangle_126 {
  position: absolute;
  overflow: visible;
  width: 260px;
  height: 80px;
  left: 830px;
  top: 1702px;
  --web-animation: fadein 0.30000001192092896s ease-out;
  --web-action-type: page;
  --web-action-target: personnalisation.html;
  cursor: pointer;
}
#Composer_ {
  left: 886px;
  top: 1725px;
  position: absolute;
  overflow: visible;
  width: 149px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  color: rgba(255,255,255,1);
}
#Lorem_ipsum_dolor_sit_amet_con {
  left: 830px;
  top: 1475px;
  position: absolute;
  overflow: visible;
  width: 833px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(72,74,71,1);
}
#kawaii-2995008_1280_e {
  position: absolute;
  width: 105px;
  height: 169px;
  left: 1112px;
  top: 3222px;
  overflow: visible;
}
#e-cigarette-4338716_1280-remov {
  position: absolute;
  width: 292px;
  height: 256px;
  left: 293px;
  top: 3135px;
  overflow: visible;
}
#abstract-1299105 {
  position: absolute;
  width: 105.136px;
  height: 169px;
  left: 1385px;
  top: 3222px;
  overflow: visible;
}
#Trac_19 {
  fill: rgba(0,0,0,1);
}
.Trac_19 {
  overflow: visible;
  position: absolute;
  width: 105.136px;
  height: 55.093px;
  left: 0px;
  top: 99.056px;
  transform: matrix(1,0,0,1,0,0);
}
#Trac_20 {
  fill: rgba(0,0,0,1);
}
.Trac_20 {
  overflow: visible;
  position: absolute;
  width: 77.793px;
  height: 17.899px;
  left: 22.671px;
  top: 96.429px;
  transform: matrix(1,0,0,1,0,0);
}
#Trac_21 {
  fill: rgba(0,0,0,1);
}
.Trac_21 {
  overflow: visible;
  position: absolute;
  width: 38.938px;
  height: 92.187px;
  left: 48.213px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Trac_22 {
  fill: rgba(0,0,0,1);
}
.Trac_22 {
  overflow: visible;
  position: absolute;
  width: 69.395px;
  height: 17.438px;
  left: 24.857px;
  top: 151.562px;
  transform: matrix(1,0,0,1,0,0);
}
#Trac_23 {
  fill: rgba(0,0,0,1);
}
.Trac_23 {
  overflow: visible;
  position: absolute;
  width: 48.956px;
  height: 6.237px;
  left: 49.836px;
  top: 102.681px;
  transform: matrix(1,0,0,1,0,0);
}
#Rectangle_204 {
  fill: rgba(242,242,242,1);
}
.Rectangle_204 {
  position: absolute;
  overflow: visible;
  width: 370px;
  height: 90px;
  left: 960px;
  top: 462px;
}
#Ca_vous_dit_de_composer__votre {
  left: 987px;
  top: 471px;
  position: absolute;
  overflow: visible;
  width: 323px;
  white-space: nowrap;
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  color: rgba(22,20,20,1);
}
#E-tea_vape_Le_site_de_la_vape_ {
  left: 960px;
  top: 318px;
  position: absolute;
  overflow: visible;
  width: 405px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial Rounded MT;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  color: rgba(255,255,255,1);
}
#Rectangle_205 {
  fill: rgba(242,242,242,1);
}
.Rectangle_205 {
  position: absolute;
  overflow: visible;
  width: 334px;
  height: 80px;
  left: 793px;
  top: 3547px;
}
#Dcouvrez_nous_ {
  left: 853px;
  top: 3570px;
  position: absolute;
  overflow: visible;
  width: 218px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  color: rgba(0,0,0,1);
}
#Lorem_ipsum_dolor_sit_amet_con_fj {
  left: 278px;
  top: 3041px;
  position: absolute;
  overflow: visible;
  width: 1367px;
  white-space: nowrap;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(72,74,71,1);
}